@mixin triangle($direction) {
  .#{$direction} {
    height: 0;
    width: 0;
    border-width: if($direction == down, 35px 40px 0 40px, 0 40px 35px 40px);
    border-color: if($direction == down,
     $gray_3 transparent transparent transparent, 
     transparent transparent $gray_3 transparent
    );
    border-style: solid;
    border-radius: 5px;
    filter: drop-shadow(0 2px 5px rgba(0, 0 , 0, .75));
    cursor: pointer;

    &:before {
      content: if($direction == down, "-", "+");
      font-weight: 600;
      position: relative;
      color: rgba(0, 0 , 0, .6);
      @if $direction == down {
        bottom: 50px;
        right: 7px;
        font-size: 35px;
      } @else {
        font-size: 25px;
        top: 1px;
        right: 7px;
      }
    }

    &:active {
      filter: none;
      &:before {
        color: rgba(255, 255, 255, .7);
      }
    }
  }
}
