$page-background-color: linear-gradient(to bottom, #eef2f3, #8e9eab);
$screen-background-color: linear-gradient(to right, #FFC837, #FF8008);

$black-key-background: linear-gradient(-20deg,#333,#000,#333);
$black-key-border-color: #666 #222 #111 #555;

$white-key-background: #fff;
$white-key-border-color: #ccc;


$gray_1: #2E2F2F;
$gray_2: #e2e2e2;
$gray_3: #4E5253;

$black_1: #101010;
